---
- name: deploy httpd.conf template
  template:
    src: 'httpd.conf.j2'
    dest: "{{ apache_conf_root }}/conf/httpd.conf"
    owner: root
    group: root
    setype: "httpd_config_t"
    mode: 0644
  notify:
    - reload apache
    - enable apache
